body{
	font-family: 'Raleway';
	font-style: normal;
}

.menu{
	display: flex;
	padding: 37px 152px;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.menu__div-busca{
	display: flex;
	margin-left: 32px;
	align-items: center;
	padding: 8px;
	background: #F5F5F5;
	border-radius: 20px;
	width: 393px;
	height: 40px;
	box-sizing: border-box;
}

.menu__pesquisa{
	float:left;
	flex-grow: 1;
	background-color:transparent;
  	padding-left:5px;
  	border:none;
  	outline: 0;
  	height: 100%;

  	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

.menu__pesquisa_phone{
	display: none;
}

.menu__span{
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
}

.menu__botao-login{
	padding: 16px;
	width: 182px;
	height: 51px;
	border: 1px solid #2A7AE4;
	background: transparent;


	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;

	color: #2A7AE4;
}

.menu__lupa{
 	fill: #A2A2A2;
}


.menu__botao-login:active{
	background: #D3D3D3;

}

#invisivel{
	display: none;
}

.filtrados{
	background: rgb(236, 236, 236);
	padding: 70.5px 152px 64px;
}

.filtrados__head{
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.filtrados__head h1{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	color: #464646;
}

.filtrados__content{
	display: flex;
	flex-wrap: wrap;
	margin-top: 23px;
}

.filtrados__box{
	display: flex;
	width: 12vw;
	margin-right: .8vw;
	margin-bottom: 64px;
	flex-direction: column;
}

.filtrados__box:nth-child(6n){
	margin-right: 0;
}

.filtrados__box li:nth-child(1){
	position: relative;
	width: 12vw;
	max-width: 200px;
}

.filtrados__box img{
	width: 12vw;
	height: 174px;
	max-width: 200px;
}

.filtrados__box li:nth-child(2){
	white-space: normal;
	font-weight: 500;
	margin-top: 8px;
	font-size: 14px;
	line-height: 16px;
	color: #464646;
}

.filtrados__box li:nth-child(3){
	font-weight: 700;
	font-size: 16px;
	margin-top: 8px;
	line-height: 19px;
	color: #464646;
}

.filtrados__box li:nth-child(4){
	margin-top: 8px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #464646;
}

.filtrados__box a{
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #2A7AE4;
	text-decoration: none;
}

.filtrados__box a:hover{
	color: #1260c7;
	text-decoration: underline;
}

@media (max-width: 768px){

	.menu{
		padding: 16px 32px;
	}

	.menu__logo{
		width: 100px;
		height: 28px;
	}

	.menu__div-busca{
		width: 272px;
	}

	.menu__botao-login{
		padding: 12px 16px;
		height: 40px;
		width: 166px;
	}

	.filtrados{
		padding: 32px;
	}

	.filtrados__head{
		flex-direction: column;
		align-items: flex-start;
	}

	.filtrados__head h1{
		font-size: 22px;
		line-height: 26px;
	}

	.filtrados__box{
		width: 164px;
		margin-right: 1.5vw;
	}

	.filtrados__box li:nth-child(1){
		width: 164px ;
	}

	.filtrados__box img{
		width: 164px ;
		height: 174px ;
	}

	.filtrados__box:nth-child(6n){
		margin-right: 1.5vw;
	}


}
@media (max-width: 425px){

	.menu{
		padding: 16px;
	}

	.menu__pesquisa{
		display: none;
	}

	.menu__div-busca{
		display: inline;
		background: transparent;
		order: 2;
		width: auto;
		margin-left: 35px;
		padding: 8px 0;
	}

	.menu__lupa{
		
		fill: #464646;
	}

	.menu__lupa-sembotao{
		margin-left: auto;
		margin-right: 10px;
	}

	.menu__botao-login{
		margin-left: 35px;

	}

	.menu__pesquisa_phone{
		display: block;
		border-radius: 20px;
		width: 100vw;
		height: 0;
		box-sizing: border-box;
		background: #F5F5F5;
		border:none;
		outline: 0;
		transition: .7s all;
		visibility: hidden;
	
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 16px;
	}

	.pesquisaativa{
		display: block;
		visibility: visible;
		height: 50px;
	}

}
