.login{
	width: 	100%;
	background: #E5E5E5;
	padding: 91px 0;
}

.login_form{
	display: flex;
	justify-content: center;
}

.login__geral{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	
}

.login__geral h2{
	font-family: 'Raleway';
	text-align: center;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #464646;
}

.login__caixa{
	position: relative;
}

.login__input{
	width: 423px;
	height: 63.13px;
	padding-left: 10px;
	background: #FFFFFF;
	border-radius: 4px;
	outline: none;
	border: none;
	border-bottom: 2px solid #C8C8C8;
	margin-top: 25px;

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #464646;
}

.erro{
	display: none;
}

.login__label{
	padding: 50px 0 0 10px;
    position: absolute;
	top: 0;
    left: 0;
    color: #A2A2A2;
    transform-origin: 0 0;
    transition: 0.2s ease-in-out;
    pointer-events: none;
}

.login__input:focus{
      border-bottom: 2px solid #2A7AE4;
}

.login__input:focus + .login__label, .login__input:not(:placeholder-shown)
 + .login__label{
  	transform: translateY(-2px) scale(0.7);
    padding-left: 12px;
    color: #2A7AE4;
}

.login__button{
	padding: 20px 16px;
	background: #2A7AE4;
	border: none;
	margin-top: 25px;

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}

.login__button:active{
	background: #1260c7 ;
}

.input_invalido .login__label{
    color: #df2525;
}

.input_invalido #email{
    border: 1px solid #df2525;
}

.input_invalido #senha{
    border: 1px solid #df2525;
}

.informa__contato_erro{
    display: none;   
}

.input_invalido .informa__contato_erro{
	display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    color: #df2525;
}



@media (max-width: 768px){

	.login{
		padding: 45px 0 61px 0;
	}

	.login__geral{
		align-items: center;
	}

	.login__geral h2{
		font-size: 16px;
		line-height: 19px;
	}

	.login__input{
		width: 275px;
		height: 41px;
	}

	.login__label{
		padding-top: 40px;
	}

	.login__button{
		padding: 12px 16px;
		font-size: 14px;
		line-height: 16px;
		width: 109px;
	}

}

@media (max-width: 425px){

	.login{
		padding: 97px 0 76px 0;
	}

}